cloudpickle==2.2.1
cookiecutter==2.6.0
customtkinter==5.2.2
distro==1.9.0
Django==5.0.1
ecapture==2.0.2
eventlet==0.36.1
Flask-Dance==7.1.0
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
google-auth-oauthlib==1.2.0
google-generativeai==0.5.4
grpcio-status==1.62.2
Markdown==3.6
matplotlib==3.8.4
multipledispatch==1.0.0
openai==0.28.0
openpyxl==3.1.2
pandas==2.2.2
pip==24.0
plotly==5.19.0
PyAudio==0.2.14
python-dotenv==0.13.0
pyttsx3==2.90
pywebio==1.8.3
reflex==0.5.1
SpeechRecognition==3.10.4
spotipy==2.23.0
SQLAlchemy-Utils==0.41.1
sqlalchemy2-stubs==0.0.2a38
supabase==2.4.0
tk==0.1.0
twilio==9.0.5
virtualenv==20.25.3
wikipedia==1.4.0
wolframalpha==5.0.0
xlrd==2.0.1
